/target
**/*.rs.bk
.idea/
**/.DS_Store
*.bin
**/*.db
out/
.vscode/
Cargo.lock
**/temp_db
**/karmacoin_db
**/temp*_db
/crates/db/*-db
/node_modules
.run/
*.log
**/*config.yaml
my_ca.key
my_ca.pem
my_ca.srl
server.csr
server.ext
server.key
server.pem
